:root{
    --green: #38ef7d;
    --red: #f05050; 
    --help: #a94442;
    --purple: #7f00ff;
    --pink: #e100ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

body{
    background: linear-gradient(to left, var(--purple), var(--pink));
    overflow-x: hidden;
    color: black !important;
}

a{
    text-decoration: none;
    color: black;
}

a:focus{
    text-decoration: none;
}

li{
    list-style: none;
}

input, button{
    outline: none !important;
    border: none !important;
}

button{
    cursor: pointer;
}

.space-right{
    padding-right: 10px;
}

.space-left{
    padding-left: 10px;
}

.shadow-text{
    text-shadow: 2px 2px 2px black;
}
