.parent-div-password{
    width: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.div-password{
    justify-content: center;
}

.div-password label{
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 25px;
    font-weight: unset;
    text-decoration: underline;
    cursor: pointer;
}

.div-password label:hover{
    text-decoration: none;
}

.fa-eye, .fa-eye-slash{
    font-size: 25px;
    font-weight: unset;
    cursor: pointer;
}
