{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap">
<link rel="stylesheet" href="{{url_for('static', filename='css/essentials.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/sidepanel.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/signup.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/password.css')}}">
{% endblock %}

{% block content %}
<body>
    <nav>
        <a><i class="fa fa-bars" onclick="openNav()"></i></a>
        <a href="{{url_for('home')}}">Home</a>
        <a style="display: {{display_login}};" href="{{url_for('login')}}">Log In</a>
        <a style="display: {{display_logout}};" href="{{url_for('logout')}}">Logout</a>
        <a style="display: {{display_signup}};" href="{{url_for('signup')}}">Sign up</a>
    </nav>    

    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a style="display: {{display_login}};" href="{{url_for('login')}}">Log In</a>
        <a style="display: {{display_logout}};" href="{{url_for('logout')}}">Logout</a>
        <a style="display: {{display_signup}};" href="{{url_for('signup')}}">Sign up</a>
        <a href="{{url_for('settings')}}">Settings</a>
        <a href="{{url_for('help')}}">Help</a>
    </div>

    <div class="container">
        <form class="form-signin" method="POST" action="/signup">
            <h2 class="form-signin-heading">Please Sign up</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username, autocomplete="off") }}
            <p class="help-block" style="display: {{uname_help_block}};">Username already exist</p>
            {{ wtf.form_field(form.email, autocomplete="off") }}
            {{ wtf.form_field(form.password, autocomplete="off") }}

            <div class="parent-div-password">
                <div style="display: flex;" class="div-password" id="show-password" onclick="passwordVisibility()">
                    <i class="fa fa-eye"></i>
                    <label>Show Password</label>
                </div>

                <div style="display: none;" class="div-password" id="hide-password" onclick="passwordVisibility()">
                    <i class="fa fa-eye-slash"></i>
                    <label>Hide Password</label>
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
    </div>

    <!-- Open SideBar -->
    <script src="static/js/panel.js"></script>
    <script src="static/js/password.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
{% endblock %}