{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/essentials.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/sidepanel.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/signup.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/password.css')}}">
{% endblock %}

{% block content %}
<body>
    <nav>
        <a class="left-link"><i class="fa fa-bars" onclick="openNav()"></i></a>
        <a class="left-link" href="{{url_for('home')}}">Home</a>
        <a class="right-link" style="display: {{display_login}};" href="{{url_for('login')}}">Log In</a>
        <a class="right-link" style="display: {{display_logout}};" href="{{url_for('logout')}}">Logout</a>
        <a class="right-link" style="display: {{display_signup}};" href="{{url_for('signup')}}">Sign up</a>
    </nav>    

    <div id="mySidepanel" class="sidepanel">
        <a class="side-links closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
        <a class="side-links" style="display: {{display_login}};" href="{{url_for('login')}}">Log In</a>
        <a class="side-links" style="display: {{display_logout}};" href="{{url_for('logout')}}">Logout</a>
        <a class="side-links" style="display: {{display_signup}};" href="{{url_for('signup')}}">Sign up</a>
        <a class="side-links" style="display: {{display_settings}};" href="{{url_for('settings', id='general')}}">Settings</a>
        <a class="side-links" href="{{url_for('help')}}">Help</a>
    </div>

    <div class="container">
        <form class="form-signin" method="POST" action="/signup">
            <h2 class="form-signin-heading">Please Sign up</h2>
            
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username, autocomplete="off") }}
            <p class="help-block" style="display: {{uname_help_block}};">Username already exist</p>

            {{ wtf.form_field(form.email, autocomplete="off") }}
            <p class="help-block" style="display: {{email_help_block}};">Email Id already exist</p>

            {{ wtf.form_field(form.password, autocomplete="off") }}

            <div class="parent-div-password">
                <div style="display: flex;" class="div-password" id="show-password" onclick="passwordVisibility('password')">
                    <i class="fa fa-eye"></i>
                    <label>Show Password</label>
                </div>

                <div style="display: none;" class="div-password" id="hide-password" onclick="passwordVisibility('password')">
                    <i class="fa fa-eye-slash"></i>
                    <label>Hide Password</label>
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
    </div>

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/animations/gsap.min.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/animations/animate.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/animations/animateLogin.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/panel.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/password.js') }}"></script>
</body>
{% endblock %}
